알파벳 소문자, 대문자, 숫자 0-9중 하나가 주어졌을 때, 주어진 글자의 아스키 코드값을 출력하는 프로그램을 작성하시오.

입력 : 알파벳 소문자, 대문자, 숫자 0-9 중 하나가 첫째 줄에 주어진다.

출력 : 입력으로 주어진 글자의 아스키 코드 값을 출력한다.

In [2]:
n = input()
print(ord(n))

C
67

상근이의 동생 상수는 수학을 정말 못한다. 상수는 숫자를 읽는데 문제가 있다. 이렇게 수학을 못하는 상수를 위해서 상근이는 수의 크기를 비교하는 문제를 내주었다. 상근이는 세 자리 수 두 개를 칠판에 써주었다. 그 다음에 크기가 큰 수를 말해보라고 했다.

상수는 수를 다른 사람과 다르게 거꾸로 읽는다. 예를 들어, 734과 893을 칠판에 적었다면, 상수는 이 수를 437과 398로 읽는다. 따라서, 상수는 두 수중 큰 수인 437을 큰 수라고 말할 것이다.

두 수가 주어졌을 때, 상수의 대답을 출력하는 프로그램을 작성하시오.

입력 : 첫째 줄에 상근이가 칠판에 적은 두 수 A와 B가 주어진다. 두 수는 같지 않은 세 자리 수이며, 0이 포함되어 있지 않다.

출력 : 첫째 줄에 상수의 대답을 출력한다.

In [6]:
def rev(num):
    return num[::-1]

A=input()
B=input()

A_rev=int(rev(A))
B_rev=int(rev(B))

if A_rev>B_rev:
    print(A_rev)
else:
    print(B_rev)

734
893
437

평소 반상회에 참석하는 것을 좋아하는 주희는 이번 기회에 부녀회장이 되고 싶어 각 층의 사람들을 불러 모아 반상회를 주최하려고 한다.

이 아파트에 거주를 하려면 조건이 있는데, “a층의 b호에 살려면 자신의 아래(a-1)층의 1호부터 b호까지 사람들의 수의 합만큼 사람들을 데려와 살아야 한다” 는 계약 조항을 꼭 지키고 들어와야 한다.

아파트에 비어있는 집은 없고 모든 거주민들이 이 계약 조건을 지키고 왔다고 가정했을 때, 주어지는 양의 정수 k와 n에 대해 k층에 n호에는 몇 명이 살고 있는지 출력하라. 단, 아파트에는 0층부터 있고 각층에는 1호부터 있으며, 0층의 i호에는 i명이 산다.
입력

첫 번째 줄에 Test case의 수 T가 주어진다. 그리고 각각의 케이스마다 입력으로 첫 번째 줄에 정수 k, 두 번째 줄에 정수 n이 주어진다. (1 <= k <= 14, 1 <= n <= 14)
출력

각각의 Test case에 대해서 해당 집에 거주민 수를 출력하라.

In [ ]:
def people(f, h):
    ppl[14][14]=[]
    for i in range(14):
        ppl[0][i]=i    
    
    for floor in range(1,14,1):
        for ho in range(14):
            for p in range(14-ho):
                ppl[floor][ho] += ppl[floor-1][p]
            
        

floor_input=[]
ho_input=[]

people=0

T=int(input())

for i in range(T):
    f=int(input()) 
    h=int(input())
    floor.append(f)
    ho.append(h)

for i in range(T):

In [29]:
    floor=[]
    ho=[]

    
    for i in range(14):
        ho.append(i)    
   

    people.append(ho)
    
    print(people)
    '''
    for floor in range(1,14,1):
        for ho in range(14):
            for p in range(14-ho):
                ppl[floor][ho] += ppl[floor-1][p]
    '''

[[], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]]

'\nfor floor in range(1,14,1):\n    for ho in range(14):\n        for p in range(14-ho):\n            ppl[floor][ho] += ppl[floor-1][p]\n'

In [40]:
people=[[0 for i in range(14)] for j in range(14)]   # 행, 열
for i in range(14):

SyntaxError: unexpected EOF while parsing (<ipython-input-40-3bd598485315>, line 3)